<!DOCTYPE html>
<html>
<head>
    <title>Job Assistant - Result</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
    <h1>Interview Questions and Answers</h1>
    <% result.forEach(function(item) { %>
        <p><%= item %></p>
    <% }); %>
</body>
</html>
